<template name = 'home'>
  <div class="bg"></div>
  <div class="jumbotron2 jumbotron">
    <div class="container push-spaces">
        <h1 class="fontHelv">viriya||energy </h1>
        <p class="lead">solutions for a greener grid</p>
        <h6>a smart grid company focussing on system flexibility
          through Energy Storage and Demand Response.</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <h1><a href="{{pathFor 'about'}}">Energy Storage</a></h1>
      <p>
        Viriya is developing Electricity Storage as a Service through a technology
        driven aggregation and asset management platform that allows mixed storage
        assets to be managed for ancillary services and as part of integrated
        microgrids.
        <a href="{{pathFor 'about'}}">find out more...</a>
      </p>
    </div>

    <div class="col-md-6">
    <h1><a href="{{pathFor 'about'}}">Consulting</a></h1>
    <p>
      Viriya has undertaken market, operational and technology consulting for both the development
      of storage projects for developers, manufacturers and utilities as well
      as demand response at the domestic, SME and C&I scale for multiple organisations.
      <a href="{{pathFor 'about'}}">find out more...</a>
      </p>
    </div>
  </div>
</template>
